/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.menu ul li a{
		font-size: 20px;
		padding: 0 0px !important;
		text-align: right !important;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu ul li a{
		padding: 0 0px !important;
		text-align: right !important;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/* Large devices (desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) {
	
}

/* Large devices (desktops, 1600px and up)*/
@media (min-width: 1600px) and (max-width: 1800.98px) {

}

/* Large devices (desktops, 1801px and up)*/
@media (min-width: 1801px) and (max-width: 2000.98px) {
	
}

/* Extra large devices (desktops, 2001px and up)*/
@media (min-width: 2001px) {

}